@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  
}
/* 
.form-container {
  height: 0px;
  width: 0px;
  visibility: hidden;
} 

.wrapperLeft {
  transition: ease 0.5s all;
  position: fixed;
  top: 1%;
  left: -85%;
  width: 90%;
  height: 90%;
  background: #fff;
  margin: 20px auto;
  border: 2px lightgrey solid;
  border-radius: 10px;
  /* box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  margin-top: 2%;
}

.wrapperLeftShow{
  transition: ease 0.5s all;
  left: 0;
}

.wrapperRight {
  transition: ease 0.5s all;
  position: fixed;
  top: 5.5%;
  right: -40%;
  width: 50%;
  height: 90%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  border: 2px lightgrey solid;
  border-radius: 10px;
  margin-top: 2%;
}

.wrapperRight:hover{
  transition: ease 0.5s all;
  right: 0;
}


.wrapper .title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.wrapper .form {
  width: 80%;
  height: 100%;
}

.wrapper .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .input_field label {
  
  width: 200px;
  color: black;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .input_field .input{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  
}

.wrapper .form .input_field .input:focus{
  border: 1px solid #fec107;
}

.wrapper .form .input_field .btn {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .input_field:last-child {
  margin-bottom: 0;
}

.wrapper .form .input_field .btn:hover {
  background: #ffd658;
}

@media (max-width: 600px) {
  .wrapper .form .input_field {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper {
      position: absolute;
      height: 120%;
  }

} */



body {
  transition: ease 1s all;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  /*font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  */
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
}

.topbar {
  height: 15%;
  margin: 0;
  padding: 0;
  justify-items: center;
  text-align: center;
}

/* .topbar .logo {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 70%;
  color: white;
  content: url('../src/images/logo2.png'); 
} */

.topbar .arrow {
  position: fixed;
  right: 5%;
  top: 3.5%;
  z-index: 1000;
  width: 100px;
  height: 100px;
  background-image: url('./src/images/right-arrow.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.topbar .arrow:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease 0.5s all;
}

.topbar .category {
  padding-right: 10px;
  padding-left: 10px;
  position: fixed;
  width: auto;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  border: 3px black solid;
  border-radius: 10px;
  background: white;
}

.topbar .music {
  position: fixed;
  left: 6%;
  top: 4%;
  width: 5rem;
  height: 4rem;
  border: 4px solid black;
  border-radius: 10px;
  background: #38d15e;
  z-index: 1000;
}

.topbar .music:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.5s all;
}


.main-container {  
  margin-top: 1rem;
  visibility: visible;
  width: 100%;
  height: 50%;
  background: url('../src/images/dog.png');
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: 50%;
}

.no-background {
  background: white;
  height: 83%;
}


.main-container .title {
  position: relative;
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.main-container .description {
  font-size: 1.5rem;
}

.main-container .grid-container {
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 83%;
  margin-bottom: 1rem;
  overflow: hidden;
}


.main-container .grid-container .row-1, .row-2, .row-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container .grid-container .row-1 > div {
  height: 15vh;
  width: 20vw;
  margin: 0.8rem;
  margin-top: 2rem;
}

.main-container .grid-container .row-2 > div {
  height: 15vh;
  width: 20vw;
  margin: 0.8rem;
}

.main-container .grid-container .row-3 > div {
  height: 15vh;
  width: 20vw;
  margin: 0.8rem;
}

.question {
  background: rgb(56, 171, 209);
  color: #fff;
  font-size:1.5rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 2px rgb(0, 102, 255);
}

.question:hover {
  cursor: pointer;
  transition: ease 0.2s all;
  background: rgb(255, 180, 17) !important;
  box-shadow: 3px 2px rgba(63, 60, 54, 0.616);

}

.question h1 {
  margin: auto;
  flex-grow: 1;
  margin-top: 1.5rem;
  visibility: visible;
  text-shadow: 1px 1px rgb(58, 58, 58);
}


.question img {
  visibility: hidden;
  width: auto;
  height: 60%;
}

.question button {
  visibility: hidden;
}


.start-button {
  margin-top: -3.5rem;
  background: #38d15e;
  color: #fff;
  width: 15%;
  height: auto;
  min-width: 180px;
  margin-left: auto;
  margin-right: auto;
  font-size:1.3rem;
  border-radius: 10px;
  box-shadow: 3px 2px darkgreen;
  z-index: -1000;

}

.start-button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
  cursor: pointer;
}

.start-button h1 {
  text-shadow: 1px 1px rgb(58, 58, 58);
}
.flipped {
  backdrop-filter: blur(10px);
  font-size:1.5rem;
  text-align: center;
  position: fixed;
  border-radius: 0px;
  margin: 0;
  padding: 0;
  top: -40;
  left: -20;
  height: 103vh !important;
  width: 103vw !important;
  display: flex;
  flex-direction: column;
}

.flipped:hover {
  pointer-events: none;
  user-select: none;
  cursor: none;
}

.flipped .main-container {
  pointer-events: none;
}

.flipped h1{
  visibility: hidden;
}


.flipped img {
  width: auto;
  height: 30%;
  visibility: visible;
  flex-grow: 1;
  margin-top: -6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0rem;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
}

.flipped .buttonBox {
  flex-grow: 0.5;
  margin-right: 1rem;
  margin-left: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: -1rem;
}

.flipped .buttonBox button {
  background: rgb(255, 180, 17);
  pointer-events:all;
  max-width:none;
  flex-basis: 0;
  flex-grow: 1;
  visibility: visible;
  font-size: 3rem;
  margin: 0;
  border: none;
  border: 4x;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-radius: 20px;
  overflow-wrap: anywhere;
  padding-left: 1rem;
  padding-right: 1rem;
}
.flipped .buttonBox button:hover {
  cursor: pointer;
  background-color: lightgreen;
}

@media only screen and (max-width: 1150px) {


}

@media only screen and (max-width: 875px) {

/*   .question h1 {
    margin-top: 40px;
  } */

}

@media only screen and (max-width: 875px) {


}


@media only screen and (max-width: 700px) {


}

@media only screen and (max-width: 575px) {
  .topbar .arrow {
    width: 85px;
  }

  .topbar .music {
    height: 60px;
    width: 60px;
  }

}

.footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2rem;
}

.footer .point-box .dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.win-point {
  background: #38d15e;
}

.lose-point {
  background: #d13838;
}

.reset {
  background: none;
}



.material-icons.md-48 { font-size: 48px !important; }

.hidden {
  visibility: hidden;
}


@media only screen and (max-width: 500px) {
  .lower-container .actions-container .action {
      margin-left: 25px;
      margin-right: 25px;
   }
}

@media only screen and (max-width: 400px) {
  .lower-container .actions-container .action {
      margin-left: 10px;
      margin-right: 10px;
   }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}